base58==2.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
conda==4.10.0
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2

numpy==1.18.5
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
streamlit==0.75.0


